

<div class="row">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <i class="fa fa-fire"></i> Sujets les plus suivis
        </div>
        <div class="panel-body">
            <div class="vote-item">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="vote-title">
                            Faut il prendre Jacques Berger comme professeur ?
                        </a>
                        <div class="vote-info">

                            <span><i class="fa fa-comments"></i> Réponses (56)</span>
                            <span><i class="fa fa-clock"></i> il y a 1h</span>
                            <span><i class="fa fa-user"></i> <a href="#">Andrew Williams</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vote-item">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="vote-title">
                            Comment faire créditer un cours ?
                        </a>
                        <div class="vote-info">
                            <span><i class="fa fa-comments"></i> Réponses (56)</span>
                            <span><i class="fa fa-clock"></i> il y a 10j</span>
                            <span><i class="fa fa-user"></i> <a href="#"> Monica Smith</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vote-item">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="vote-title">
                            Angular ou React, lequel apprendre en premier ?
                        </a>
                        <div class="vote-info">
                            <span><i class="fa fa-comments"></i> Réponses (56)</span>
                            <span><i class="fa fa-clock"></i> il y a 1 mois</span>
                            <span><i class="fa fa-user"></i> <a href="#"> Johnathan Morgan</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="far fa-clock"></i> Sujets récents
        </div>
        <div class="panel-body">
            <div class="vote-item">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="vote-title">
                            Être ou ne pas être ?
                        </a>
                        <div class="vote-info">
                            <span><i class="fa fa-comments"></i> Réponses (3)</span>
                            <span><i class="fa fa-clock"></i> il y a 1 min</span>
                            <span><i class="fa fa-user"></i> <a href="#">Andrew Williams</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vote-item">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="vote-title">
                            Où sont les toilettes ?
                        </a>
                        <div class="vote-info">
                            <span><i class="fa fa-comments"></i> Réponses (0)</span>
                            <span><i class="fa fa-clock"></i> il y a 2 min</span>
                            <span><i class="fa fa-user"></i> <a href="#"> Monica Smith</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vote-item">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="vote-title">
                            Faut-il faire le baccalauréat coopératif ?
                        </a>
                        <div class="vote-info">
                            <span><i class="fa fa-comments"></i> Réponses (5)</span>
                            <span><i class="fa fa-clock"></i> il y a 3 mois</span>
                            <span><i class="fa fa-user"></i> <a href="#"> Johnathan Morgan</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
