
@{
    ViewBag.Title = "SupportEtudiant - Home";
}

<style>
    div.row.home-header {
        height: 100px;
    }
    div.row.home-header > h1 {
        font-size: 60px;
    }
</style>

<div class="animated fadeInUp">
    <div class="row" style="">
        <div class="col-md-4 text-center border-right">
            <div class="row home-header">
                <h1>FORUM</h1>
            </div>

        </div>
        <div class="col-md-4 text-center border-right">
            <div class="row home-header">
                <h1>GROUPE</h1>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="row home-header">
                <h1>STAGE</h1>
            </div>
        </div>
    </div>
</div>

