
@{
    ViewBag.Title = "SupportEtudiant";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="animated fadeInUp">
    <div class="row show-grid">
        <div class="col-md-4">
            <span>FORUM</span>
        </div>
        <div class="col-md-4">
            <h1>GROUPE</h1>
        </div>
        <div class="col-md-4">
            <h1>STAGE</h1>
        </div>
    </div>
</div>

