<div class="row">
    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            @*<label style="font-weight:600; font-size: 16px; color:#006472">SupportEtudiant</label>*@
            @*<h1 style="margin-left:5px ;margin-top:15px; font-weight:500">SupportEtudiant</h1>*@
            <div style="height:50px;float:left">
                <div class="minimalize-styl-2" style="margin-left:-10px; margin-top:5px">
                    <label style="font-weight:600; margin-left: 10px; font-size: 30px; color:#0079be">Support <i class="fa fa-hands-helping"></i> Etudiant</label>
                </div>
            </div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            @*<li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Réponse à un message
                                <span class="pull-right text-muted small">il y a 4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>*@
            <li>
                <a href="@Url.Action("Login", "Pages")">
                    <i class="fa fa-sign-in-alt"></i> Connexion
                </a>
            </li>
        </ul>
    </nav>
</div>
