<div class="row">
    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0; height:60px">
        <div class="navbar-header">
            <div style="height:50px;float:left">
                <div class="minimalize-styl-2" style="margin-left:-10px; margin-top:5px">
                    <label class="desktop-label" style="font-weight:600; margin-left: 10px; font-size: 30px; color:#0079be">Support <i class="fa fa-hands-helping"></i> Etudiant</label>
                    <label class="mobile-label" style="font-weight:600; margin-left: 15px; font-size: 30px; color:#0079be"><i class="fa fa-hands-helping"></i></label>
                </div>
            </div>
        </div>
        <ul class="nav navbar-top-links navbar-right" style="float: right!important; margin-right: 10px;">
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span class="label label-primary">3</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i>&nbsp; Réponse à une publication
                                <span class="pull-right text-muted small">il y a 4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-users fa-fw"></i>&nbsp; Recherche de groupe
                                <span class="pull-right text-muted small">il y a 2 hrs</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="#">
                                <strong>Voir toutes les notifications</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown" style="margin:0px">
                <a class="dropdown-toggle" data-toggle="dropdown" style="padding:0px">
                    <img class="img-circle img-sm" src="~/Images/img_avatar.png" alt="Avatar">
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div><i class="fa fa-user-circle fa-fw"></i>&nbsp; Profil</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div><i class="fa fa-sign-out-alt fa-fw"></i>&nbsp; Déconnexion</div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
