@{
    ViewBag.Title = "SupportEtudiant - Satge Description";
}
<style>
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Description du stage</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Accueil</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Stage")">Stages</a>
            </li>
            <li class="active">
                <strong>Description du stage</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">

</div>
